/***********************************************************************
*
* Table of Content:
*
*    1.   Body
*    2.   Header
*    2.1  Navigation
*    2.2
*    3.   Content
*    4.
*    5.
*    6.
*    7.
*    8.
*    9.
*   10.
*
*
* Copyright 2015 Zeke B.
*
***********************************************************************/

/***********************************************************************
*    1.   Body
***********************************************************************/

.home-one {
    background-color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("/img/Dollarphotoclub_71102189.jpg");
    text-align: center center;
}
.home-two {
    background-color: darkgrey;
    padding: 50px 0px;
}
.home-three {
    background-color: white;
    padding: 50px 0px;
}
.home-four {
    background-color: darkgrey;
    padding: 50px 0px;
}
.home-five {
    background-color: white;
    padding: 50px 0px;
}

.bg-dark {
    background-color: #1c2529;
}
.bg-dark p,
.bg-dark a {
    color: white;
}

.bg-dark a:hover {
    color: red;
}

/***********************************************************************
*    2.   Header
***********************************************************************/

.navbar-brand {
    padding: 0px !important;
    height: 50px !important;
}
.navbar {
    margin-bottom: 0px !important;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/